/* inizio regole generali */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        margin: 1rem;
    }

    .ms_flex{
        display: flex;
    }

    .ms_align-items-center{
        align-items: center;
    }

    .ms_justify-content-between{
        justify-content: space-between;
    }

/* fine regole generali */


/* inizio regole header */
    header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 6rem;
        background-color: white;
        padding: 1rem 0;
    }

    header .ms_header_right{
        margin-right: 2rem;
    }

    header a{
        text-decoration: none;
        color: rgb(100, 100, 100);
    }

    header .text{
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    header ul{
        margin-top: 1rem;
        border-bottom: 1px solid lightgray;
        padding-bottom: 0.5rem;
    }

    header li{
        display: inline;
        list-style: none;
        margin-right: 2rem;
        padding-bottom: 0.3rem;
        color: rgb(100,100,100);
        border-bottom: 3px solid transparent;
    }

    header li:hover{
        border-color: #1a73e8;
    }

    header li:hover a{
        color: #1a73e8;
    }

    header li.active{
        border-bottom: 3px solid #1a73e8;
    }

    header li.active a{
        color: #1a73e8;
    }

    .ms_grid{
        margin-right: 1.2rem;
        font-size: 1.5rem;
        color: rgb(100,100,100);
    }

    button{
        background-color: #1a73e8;
        border-color: #1a73e8;
        color: white;
        padding: 0.5rem 1.8rem;
        font-weight: bold;
        border-radius: 5px;
    }
    
/* fine regole header */



/* inizio regole main */
    main{
        width: 80%;
        padding: 2rem 0;
        margin: 2rem auto;
        color: rgb(50, 50, 50);
    }

    main h2{
        margin-top: 5rem;
    }

    main li{
        list-style: none;
        margin-top: 2rem;
    }
/* fine regole main */


/* inizio regole footer */

    footer{
        width: 80%;
        margin: 2rem auto;
        color: rgb(50, 50, 50);
    }

    footer li{
        display: inline;
        list-style: none;
        font-size: 0.8rem;   
    }

    footer li a{
        text-decoration: none;
        color: rgb(100,100,100);
    }

    footer .fa-globe{
        font-size: 1.2rem;
        margin-right: 0.7rem;
    }

    footer select{
        width: 10rem;
    }
/* fine regole footer */